[buildout]
parts =
    scripts
    zopepy

develop =
    .
versions = versions
find-links =
    http://pypi.python.org/pypi/SQLAlchemy

[versions]
martian = 0.11
setuptools = 8.3
zc.buildout = 2.3.1

[scripts]
recipe = zc.recipe.egg:scripts
eggs = affinitic.db

[zopepy]
recipe = zc.recipe.egg
eggs = affinitic.db
